<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
  <TITLE> E-mail enviado </TITLE>
 </HEAD>

 <BODY>
  <p>Olá {{ nome }},</p>
  <p>Recebemos a sua mensagem abaixo. Em breve entraremos em contato</p>
  <p>{{ descricao }}</p>
 </BODY>
</HTML>
